[submodule "cedet"]
	path = cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "function-args"]
	path = function-args
	url = https://github.com/abo-abo/function-args
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "async"]
	path = async
	url = https://github.com/jwiegley/emacs-async
[submodule "golden-ratio.el"]
	path = golden-ratio.el
	url = https://github.com/abo-abo/golden-ratio.el
